@tailwind base;

@tailwind components;

@tailwind utilities;


.success {
    border-color: green;
}

.error {
    border-color: red;    
}

small{
    visibility: hidden;
}

.errorMessage {
    visibility: visible;
}